.container {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;

  .target {
    height: 300px;
    background-color: blue;
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
