.container {
  height: 100%;
  width: 100%;
  margin: auto;

  .button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #574b90;
    background-color: #fc85ae;
    margin: 20px 20px;
    font-size: 1em;
    font-weight: bold;
  }

  .list {
    list-style: none;

    .list__item {
      border: 5px solid #303a52;
      width: 300px;
      height: 200px;
      margin: 0;
      text-align: center;
      background-color: #9e579d;

      .title,
      .body {
        height: auto;
      }
    }
  }
}
