@use "../../../../../styles/variables";

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  .animation-buttons {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .animation-button {
      display: inline-block;
      text-decoration: none;
      font-size: 1.4rem;
      border: 1px solid #000;
      padding: 5px 10px;
      margin: 20px;
      transition: 0.3s;
      color: #000;

      &:hover {
        background-color: map-get(variables.$colors, purple);
        color: white;
      }
    }
  }
  .target {
    height: 100px;
    width: 100px;
    margin: 100px auto 0 auto;
    border-radius: 15%;
    background-color: map-get(variables.$colors, green);
    transform: scale3d(1, 1, 1);
  }
}
